USE [master]
GO
/****** Object:  Database [DoctorServiceDB]    Script Date: 12/25/2025 4:57:17 PM ******/
CREATE DATABASE [DoctorServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoctorServiceDB', FILENAME = N'C:\SQLDATA\DoctorServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoctorServiceDB_log', FILENAME = N'C:\SQLDDATA\DoctorServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoctorServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoctorServiceDB]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 12/25/2025 4:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Specialty] [nvarchar](100) NULL,
	[Neighborhood] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Neighborhood], [Phone]) VALUES (1, N'Dr. Aamrani Mohamed', N'Generaliste', N'Centre Ville', N'0600000001')
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Neighborhood], [Phone]) VALUES (2, N'Dr. Bouaazi Hakim', N'Cardiologue', N'Talborjt', N'0600000002')
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [Neighborhood], [Phone]) VALUES (3, N'Dr. Hamdani AMine', N'Dermatologue', N'Haut Founty', N'0600000003')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
USE [master]
GO
